mat-toolbar {
    background-color: #ff5959;
}

mat-toolbar-row img {
    width: 23px;
    height: 23px;
}

.example-spacer {
    flex: 1 1 auto;
}

span.brand-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

img.settings {
    margin-right: 24px;
    width: 30px;
    height: 30px;
}

img.sign-out {
    width: 30px;
    height: 30px;
}

button.menu {
    background-color: transparent;
    border: 1px solid transparent;
}